# 忽略缓存文件夹
**/__pycache__
**/__pycache__/**

# damn macOS's shit
**/.DS_Store

# 忽略所有test文件夹
**/test/

# 忽略所有output文件夹
**/output/**

# 忽略所有data文件夹
**/data/**

# 忽略配置文件目录
**/proxy/mihomo/binary_file/**
**/proxy/mihomo/node_config/**
**/proxy/mihomo/raw_config/real/**